<nav class="nav">
    <div class="nav__container">
        <a href="{{ path_for('home') }}" class="nav__brand">{% include 'partials/logo.twig' %}</a>
        <ul class="nav__navbar">
            {# <li><a href="{{ path_for('home') }}">Home</a></li> #}
{#             <li><a href="{{ path_for('about') }}">About</a></li>
            <li><a href="{{ path_for('beers') }}">Beers</a></li>
            <li><a href="{{ path_for('swag') }}">Swag</a></li> #}
            {# <li><a href="{{ path_for('contact') }}">Contact</a></li> #}
        </ul>

        <h6>Fort St. John, BC</h6>
        <ul class="nav__socials">
            <li><a href="https://www.facebook.com/MightyPeaceBrewing/"><img src="assets/img/icons/facebook.png" draggable="false"></a></li>
            <li><a href="https://instagram.com/mightypeacebrewing"><img src="assets/img/icons/twitter.png" draggable="false"></a></li>
            <li><a href="https://twitter.com/MightyPeaceBeer"><img src="assets/img/icons/instagram.png" draggable="false"></a></li>
        </ul>
    </div>
</nav>
