<div class="off-canvas">
    <ul>
        <li><a href="{{ path_for('home') }}">Home</a></li>
        <li><a href="{{ path_for('mug-club') }}">Mug Club</a></li>
{#         <li><a href="{{ path_for('about') }}">About</a></li>
        <li><a href="{{ path_for('beers') }}">Beers</a></li>
        <li><a href="{{ path_for('swag') }}">Swag</a></li>
        <li><a href="{{ path_for('news') }}">News</a></li> #}
        {# <li><a href="{{ path_for('contact') }}">Contact</a></li> #}
    </ul>
    <ul class="menu-socials">
        <li><a href="#0"><img src="assets/img/icons/facebook.png" draggable="false"></a></li>
        <li><a href="#0"><img src="assets/img/icons/twitter.png" draggable="false"></a></li>
        <li><a href="#0"><img src="assets/img/icons/instagram.png" draggable="false"></a></li>
    </ul>
</div>
